.aside {
  transition: all 300ms ease;
  position: absolute;
}

.cancelBtn {
  height: 100%;
  width: 15%;
  background-color: rgba(0, 0, 0, 0.559);
}

.asideLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  gap: 20px;
}

/* Media */
@media (max-width: 615px) {
  .innerAside {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .asideContent {
    height: 100%;
    width: 85%;
    background-image: url(Aesthetic.webp);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .asideLink {
    width: 80%;
    height: 50%;
    backdrop-filter: blur(3px);
    border: 2px double black;
  }
}
