.bookingForm {
  margin-top: 40px;
  text-align: center;
  position: relative;
  /* background-color: white; */
  margin-bottom: var(--myMargin);
  padding: var(--myMargin) 0;
}

.bookingForm h2 {
  margin-top: -30px;
}

.backgroundHolder {
  display: flex;
  height: 390px;
  max-width: 90%;
  margin: 30px auto;
  padding: 5px;
  position: relative;
}

.backgroundHolder .imageBack {
  height: 100%;
  width: 50%;
  background-image: url("massageImage1.jpeg");
}
.backgroundHolder .plainBack {
  height: 100%;
  width: 50%;
}

.form {
  background-color: white;
  position: absolute;
  height: 80%;
  width: 50%;
  z-index: 20;
  top: 25%;
  transform: translateY(-25%);
  left: 37%;
  margin-top: var(--myMargin);
}

.innerForm {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

label {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 48%;
}

.input {
  width: 100%;
  height: 50px;
  padding: 5px;
}

/* Option section */

.pickService {
  position: relative;
  border: 1px solid black;
  height: 50px;
  display: flex;
  width: 48%;
  padding: 5px;
  margin-top: 19.5px;
  cursor: pointer;
}

.theFormLink {
  margin: auto;
  position: relative;
  padding: 10px;
  width: 50%;
  z-index: 4;
}

.bookSesh {
  width: 100%;
  height: 100%;
  margin: auto;
  height: 40px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  z-index: 1;
}

/* media Quary */
@media (max-width: 665px) {
  .backgroundHolder .plainBack {
    display: none;
  }

  .backgroundHolder .imageBack {
    width: 100%;
    filter: blur(2px);
  }

  .backgroundHolder {
    position: relative;
    height: 500px;
  }

  .form {
    position: absolute;
    width: 90%;
    height: auto;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.692);
    border-radius: 10px;
  }

  label,
  .pickService {
    width: 100%;
  }

  .input,
  .pickService {
    background-color: white;
  }

  .bookSesh {
    margin: 0 auto;
  }
}
